/* index.css */
:root {
  font-family: 'Helvetica Now Display', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #2d3436;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: #0984e3;
  text-decoration: inherit;
}
a:hover {
  color: #0770c4;
}

button {
  font-family: 'Big Shoulders Display', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #2d3436;
    background-color: #ffffff;
  }
}